.super-duper-preview {
  .address-area {
    /*display: table-cell;
    vertical-align: bottom;*/
    p {
      color: #000000;
      margin-bottom: 0;
      @include font-size(10px);
      font-family: font3;
      line-height: 120%;

    }
  }
  .greeting-area {
    p {
      color: #000000;
      margin-bottom: 0;
      @include font-size(16px);
      font-family: font3;
      line-height: 120%;
    }
  }
}