.cke_editable .rteleft {
  text-align: left;
}

.cke_editable .rtejustify {
  text-align: justify;
}

.cke_editable .rtecenter {
  text-align: center;
}

.cke_editable .rteright {
  text-align: right;
}


.cke_editable {
  font-family: font1;
  font-size: 16px;
}
.red-b {
  background-color: red;
}


