.page-node-128 {

  .l-unconstrained-navigation {
    overflow:hidden;
  }

  .node--webform--full {
    background: inherit;
    padding: 0;
    #webform-component-first-block {
      border: none;
      background: $white;

     label {
       display:block!important;
     }


      @include breakpoint ($desk, true) {

       #webform-component-first-block--chosen-charity, #webform-component-first-block--how-many-cards, #webform-component-first-block--card-shape {
         width: 30%;
       }

      }

    }

    #webform-component-second-block {
      border: none;
      background: $white;
      display:none;
    }

    #webform-component-third-block {

      #edit-submitted-third-block-font,
      #edit-submitted-fourth-block-select-address-font {
        margin-left: 0px;
        width:100%;
      }

      #edit-submitted-third-block-font {
        option:nth-child(2) {
          font-family: font1!important;
        }
        option:nth-child(3) {
          font-family: font2!important;
        }
        option:nth-child(4) {
          font-family: font3!important;
        }
        option:nth-child(5) {
          font-family: font4!important;
        }
        option:nth-child(6) {
          font-family: font5!important;
        }
      }

    }


    #webform-component-third-block,
    #webform-component-fourth-block {


      /*luke change*/
      padding: 9px 14px 18px 14px!important;
      /*luke change*/
      border: none;
      background: $white;
      label {
        margin-left: 0px;
      }
      .form-type-radio {
        margin-left:5px;
      }
      .option {
        margin-left: 0;
      }
      #edit-submitted-fourth-block-left {
        margin-left:0px!important;
      }


      #edit-submitted-fourth-block-select-address-font {
        float:left;
        width:100%;
        margin-left:0px;
      }
      #webform-component-fourth-block--left {
        float:left;
        width:100%;
      }


      #webform-component-fourth-block--colour-select {

        label {
          width:100%;
          margin-left:0px!important;
          margin-top:10px;
          float:left;
        }

        select {
          width:100%;
          margin-left:0px;

        }

      }

      #webform-component-fourth-block--left {
        float:right;
        margin-top:0px;
        margin-left:0px!important;
        label {
          margin-left: 0px!important;
        }
      }


      #webform-component-third-block--colour-select {
        float:right;
        width: 100%;

        label {
          width:100%;
          float:left;
          margin-left: 0px!important;
        }

        select {
          width:100%;

        }

      }

    }

    #webform-component-fourth-block {
      #edit-submitted-fourth-block-select-address-font {

          option:nth-child(2) {
            font-family: font1!important;
          }
          option:nth-child(3) {
            font-family: font2!important;
          }
          option:nth-child(4) {
            font-family: font3!important;
          }
          option:nth-child(5) {
            font-family: font4!important;
          }
          option:nth-child(6) {
            font-family: font5!important;
          }

      }
    }

    #webform-component-images {

      padding: 9px 14px 18px 14px!important;

      .option {
        display:none;
      }

      border: none;
      clear:left;
      background: $white;
      .button--primary {
        margin-top: 5px;
      }
    }

    #webform-component-images--reproduction-image-1 {
      margin-top:23px;
    }
    #webform-component-images--reproduction-img2 {
      margin-top:23px;
    }
    #webform-component-images--reproduction-img3 {
      margin-top:23px;
    }


    #webform-component-images--image-2 {
      clear:left;
    }

    #webform-component-images--image-3 {
      clear:left;
    }

    #webform-component-your-contact-details {
      border: none;
      padding-top: 50px;
      .fieldset-legend {
        color: $grey-header;
        font-family: $kreon;
        @include font-size(36px);
        line-height: 36px;
        position: relative;
        top: 36px;
      }
    }

    #webform-component-extra-content-intro {
      background: $white;
      padding: 5px;


      .image1,.image2,.image3 {
        width:250px;
        margin: 15px 15px;
      }

    }
  }
}

/**************************************************/

@include breakpoint($tab, true) {
  .page-node-128 {
    .node--webform--full {



      #webform-component-extra-content-intro {
        background: $white;
        padding: 5px;


        .image1,.image2,.image3 {
          width:auto!important;
          margin: 0 15px;
        }

      }

      #webform-component-first-block {
        .webform-component-select {
          width: 100%;
          float: left;
          margin-right: $vert-spacing-unit*2;
        }
        .webform-component-textfield {
          width: 100%;
          float: left;
          margin-right: $vert-spacing-unit*2;
        }
      }

      #webform-component-second-block {
        .webform-component-select {
          width: 100%;
          float: left;
        }
      }

      #webform-component-third-block,
      #webform-component-fourth-block {
        .webform-component-textarea {
          width: 100%;
          float: left;

        }
      }

      #webform-component-images {

        #webform-component-images--image-requirements {
          font-style:italic!important;
        }

        #webform-component-images--copyright {
          width:100%;
          float:left;
          margin-top: $vert-spacing-unit;
        }


        #form-item-submitted-images-copyright input {
          float:left;
          margin-top:6px;
          margin-right:5px;
        }

        .option {
          display:none;
        }
        .description {
          float:left;
          width:95%;
          margin-top: -25px;
          margin-left: 25px;
        }


        .webform-component-managed_file {
          width: 40%;
          float: left;
        }
        .webform-component-select {
          width: 100%;
          float: left;
        }

        @include breakpoint ($desk, true){

            .webform-component-select {
              width: 50%!important;
              float: left;
            }
        }




        .button--primary {
          margin-top: 0;
        }

        .form-textarea {
          float:left;
        }

      }

      #webform-component-your-contact-details {
        border: none;
        padding-top: 50px;
        .fieldset-legend {
          color: $grey-header;
          font-family: $kreon;
          @include font-size(36px);
          position: relative;
          top: 30px;
        }
      }

      #webform-component-extra-content-intro {
        background: $white;
        padding: 5px;
      }
    }
  }
}


