.order-sample-cards {
  .card-region {
    display: inline-block;
    padding: 10px;
    .checkbox-wrapper {
      background: $white;
      margin: $vert-spacing-unit $horz-spacing-unit*2 0 0;
      display: inline-block;
      width: 168px;
      height: 180px;
      float: left;
      text-align: center;
      padding: 5px;
      @include box-shadow(lighten($black, 20%) 2px 2px 15px);
      &:nth-child(6n) {
        margin-right: 0;
      }

      img {
        padding-bottom: $vert-spacing-unit;
      }
    }
  }


  .buttons {
    display: block;
    clear: both;
  }
}