.views-form-commerce-cart-form-default {
  .views-table {
    tbody {
      tr {
        td {
          .field--name-field-card-image {
            .field__items {
              .field__item {
                img {
                  @include box-shadow(black 2px 2px 15px);
                }
              }
            }

          }
          .delete-line-item {
            @include font-size(16px);

          }
          .disabled-edit {
            background-color: darken($grey, 20%);
          }
          a.product-link,
          a.pdf-link {
            color: $white;
            display: block;
            text-align: center;
            background: $basecolor;
            padding: 5px;
            text-decoration: none;
            @include border-radius(5px);
            &:hover {
              color: $white;
              background: lighten($basecolor, 15%);
            }
          }
        }
      }
    }
  }
}
