.view-landing-page-content {
  .view-content {
    .views-row {
      padding: $vert-spacing-unit $horz-spacing-unit;
      color: $white;

      a {
        color: $white;
        &:hover {
          color: lighten($basecolor, 25%);
        }
      }
    }

  }
}