.block--views-testimonial-list-testim-block {
  margin-top: $vert-spacing-unit*2;
  background: $background;
  padding: 5px;
  .block__title {
    line-height: 48px;
    margin: $vert-spacing-unit 0;
  }
  .view-display-id-testim_block {
    .view-footer {
      margin: $vert-spacing-unit 0;
      text-align: right;
      a {

        font-family: $kreon;
        font-weight: bold;
        text-decoration: none;
        @include font-size(18px);
        &:after {
          content: " \00bb";
        }
      }
    }
  }
}