.block--block-1 {
  padding: 5px;
  .block__content {
    text-align: center;
    p {
      color: $black;
      font-family: $kreon;
      @include font-size(36px);
      line-height: 36px;
      margin-bottom: 0;
    }
  }
}

@include breakpoint($tab, true) {
  .block--block-1 {
    display: inline-block;
    float: right;
    .block__content {
      p {
        text-align: right;
        @include font-size(36px);
        line-height: 36px;
        margin-bottom: 0;
      }
    }
  }
}