.node--testimonials {
  background: lighten($light-grey, 5%);
  padding: 10px;
  blockquote {
    margin: 0;
    padding-left: 40px;
  }
  .test-details-container {
    padding-top: $vert-spacing-unit;
    text-align: right;
    @include font-size(12px);
    font-weight: bold;
    margin-right: $horz-spacing-unit;
  }
}
@include breakpoint($tab, true) {
  .node--testimonials {
    .test-details-container {
      @include font-size(14px);
      margin-right: $horz-spacing-unit*3;
    }
  }

}
