/**
 * $SITE-BRANDING
 */
.l-branding {
  .site-branding {
    padding: 1em 0;
    @include clearfix(true);
  }
  .site-slogan {
    text-align: center;
    @include font-size(16px);
  }
}

@include breakpoint($tab, true) {
  .l-branding {
    display: inline-block;
    .site-logo {
      float: left;
    }
  }
}

@include breakpoint($desk, true) {
  .site-slogan {
    @include font-size(16px);
    margin-top: 98px;
  }
}
