img, media {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* these apply to all ajax progresses */
.ajax-progress {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.ajax-progress .throbber {
  background: url("../images/ajax-loader.gif"); /* tweak this according to your gif */
  float: left;
  height: 32px; /* tweak this according to your gif */
  width: 32px; /* tweak this according to your gif */
  margin: 2px;
}
