.horz-left-panel-wrapper {

  .location {
    color: $highlight;
    @include font-size(24px);
    text-align: left;
    float: left;
  }

  .form-submit {
    float: left;
    margin-left: 40%;
  }

  .field-type-image{

  }

  .logo-wrap {
    display: inline-block;
    line-height: 170px;
    img {
      vertical-align: bottom;
    }
  }

  .field-name-admiral-left-panel-image {
    .ajax-new-content {
      display:none!important;
    }
    text-align: center;
    clear: both;
    margin-top: 20px;
    .form-item {
      width: 300px;
      height: 320px;
      border: 2px dashed lighten($highlight, 25%);
      margin: 0 auto;
      label {
        display: none;
      }
      .image-preview {
        padding: 0;
      }
      .image-widget {

        .image-widget-data {
          .form-file {
            margin-top: $vert-spacing-unit;
            margin-left: 85px;
          }

          .form-submit {
            margin-top: $vert-spacing-unit;
          }

          .file {
            display: none;
          }
          .file-size {
            display: none;
          }
          .button--negative {
            position:relative;
            margin-top: -50px;
            margin-left: 98px;
          }
        }
      }
    }
  }
}