/**
 * $BREADCRUMB
 */
.l-breadcrumb {
  margin-top: 0;
  .breadcrumb {
    @extend %hlist;
    padding: $vert-spacing-unit 0;

    li {
      padding-right: 0.4em;

      &:after {
        content: " \00bb";
        padding-left: 0.4em;
        vertical-align: baseline;
      }
      &:last-child:after {
        content: "";
      }
    }

    a {
      text-decoration: none;
    }
  }
}

