.block--multiblock-1 {
  margin-top: $vert-spacing-unit;
  padding-left: 0;
  h2.block__title {
    color: $black;
    @include font-size(18px);
  }
  ul.menu {
    padding: 0;
    margin: 0;
    li {
      margin-right: 5px;
      display: inline-block;
      float: left;
      a {
        display: block;
        height: 35px;
        width: 35px;
      }
      a.facebook {
        @include replace-text('../images/face-header.png', 0, 0);
      }
      a.linked-in {
        @include replace-text('../images/link-header.png', 0, 0);
      }
    }
    li.last {
      margin-right: 0;
    }

  }
}